header {
  background: #4f4d4d;
}

.page-header {
  text-align: center;
}

.link {
  text-decoration: none;
}

.header-link {
  margin: 0 15px;
  color: #008b8b;
  
  &:hover {
    color: aqua;
  }
}
